<h1>{{this.heroe.nombre | uppercase}} <small>{{this.heroe.aparicion | date:'y'}}</small></h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <img src="{{this.heroe.img}}" class="img-fluid">
    <br><br>
  </div>

  <div class="col-md-8">
    <h3>{{this.heroe.nombre}}</h3>
    <hr>

    <p>{{this.heroe.bio}}</p>

    <div>
      <img *ngIf="this.heroe.casa=='Marvel'" src="assets/img/marvel-logo.png" class="img-fluid">
      <img *ngIf="this.heroe.casa=='DC'" src="assets/img/dc-logo.jpg" class="img-fluid">
    </div>

    <button (click)="hijo($event)" class="btn btn-outline-primary">Ver mas</button>

  </div>  

</div>