<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div class="container">
    <app-body></app-body>
</div>

<br>
<div style="text-align:center">
    <small>{{this.template_literal}}</small>
    <br>
    <small>{{this.f_parametros_opcionales}}</small>
    <br>
    <small>{{this.f_flechas}}</small>
    <br>
    <small>{{this.destructuracion_objeto}}</small>
    <br>
    <small>{{this.destructuracion_array}}</small>
    <br>
    <small>{{this.ejemplo_interface}}</small>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>